<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": ["Organization", "LocalBusiness"],
  "@id": "{{site.site_url}}/#organization",
  "name": "{{site.name}}",
  "legalName": "{{site.legal_name}}",
  "url": "{{site.site_url}}/",
  "telephone": "{{site.phone_href}}",
  "email": "{{site.email}}",
  "identifier": [
    {"@type":"PropertyValue","name":"ИНН","value":"{{site.inn}}"},
    {"@type":"PropertyValue","name":"КПП","value":"{{site.kpp}}"},
    {"@type":"PropertyValue","name":"ОГРН","value":"{{site.ogrn}}"},
    {"@type":"PropertyValue","name":"Лицензия Росгвардии","value":"{{site.license}}"}
  ],
  "contactPoint": {
    "@type": "ContactPoint",
    "telephone": "{{site.phone_href}}",
    "contactType": "customer service",
    "availableLanguage": "Russian"
  },
  "sameAs": ["{{site.telegram_url}}", "{{site.whatsapp_url}}"],
  "knowsAbout": [
    "физическая охрана объектов",
    "пультовая охрана",
    "охрана складов",
    "охрана офисов",
    "охрана торговых объектов",
    "охрана предприятий",
    "охрана строительных объектов",
    "охрана мероприятий",
    "личная охрана",
    "сопровождение грузов",
    "контроль доступа",
    "видеонаблюдение",
    "тревожная сигнализация"
  ]
}
</script>
